<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gas-Leakage-Detector.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F8E29432409C32C003286FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F8E295B2409C331003286FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F8E29662409C331003286FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
